body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgoldenrodyellow;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
width:300px;
border: 2px double black;
}

.cards{
  border: 1px solid grey;
  border-width: thin;
  margin: 50px 50px;
  width:fit-content;
  padding: 5px;
  border-radius: 10px;
  background-color:beige;
  height:fit-content;
}
img:hover{
  margin:2px 2px;
text-align: center;
height:fit-content;
padding: 2px 2px;

}
a button:hover{
  background: #13f5b5;
  color: #fff;
  background-color: #1e0284 !important;
  border: none;
  text-decoration: none;


}

.cards:hover{
  box-shadow: rgba(5, 9, 248, 0.5) -10px 10px, rgba(255, 165, 9, 0.5) -20px 20px ;

}
 
.Heading_title{
margin:20px 0px;
text-align: center;
color: rgb(255, 166, 0);
background-color: darkblue;
height:fit-content;
}